<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="~/css/contact.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
</head>
<body>
    <div id="wrapper">

        <nav>
            <h2>
                <a href="/">Home</a>
            </h2>
            <div class="divider"></div>
            <h2>
                <a href="/projects">Projects</a>
            </h2>
            <div class="divider"></div>
            <h2>Contact</h2>
            
        </nav>

        <h1>Contact Me!</h1>

        <main>
            <form action="">
                <div class="form-class">
                    <div class="main-left">
                        <div className="form-group">
                            <label for="name">Name</label>
                            <input type="text" value="">
                        </div>

                        <div className="form-group">
                            <label for="email">Email</label>
                            <input type="text" value="">
                        </div>
                    </div>
                    <div class="main-right">
                        <label for="message"><p>Message</p></label>
                        <textarea name="message" id="" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <button>Send</button>
            </form>
        </main>
    </div>
    
</body>
</html>