<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="~/css/projects.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div id="wrapper">

        <nav>
            <h2>
                <a href="/">Home</a>
            </h2>
            <div class="divider"></div>
            <h2>Projects</h2>
            <div class="divider"></div>
            <h2>
                <a href="/contact">Contact</a>
            </h2>
            
        </nav>

        <h1>Here are some projects of mine!</h1>

        <main id="scrollbar">
            <div class="main-content">
                <img src="~/img/planthood.png" alt="planthood">
                <div class="main-text">
                    <p class="name">"Planthood"</p>
                    <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit officiis minima voluptatibus neque nihil in quis commodi nulla quibusdam quae natus nisi incidunt laudantium alias harum quo, nostrum sequi provident!</p>
                </div>
            </div>
            <div class="main-content">
                <img src="~/img/team_manager.png" alt="team_manager">
                <div class="main-text">
                    <p class="name">"Team Manager"</p>
                    <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit officiis minima voluptatibus neque nihil in quis commodi nulla quibusdam quae natus nisi incidunt laudantium alias harum quo, nostrum sequi provident!</p>
                </div>
            </div>
            <div class="main-content">
                <img src="~/img/authors.png" alt="authors">
                <div class="main-text">
                    <p class="name">"Authors"</p>
                    <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit officiis minima voluptatibus neque nihil in quis commodi nulla quibusdam quae natus nisi incidunt laudantium alias harum quo, nostrum sequi provident!</p>
                </div>
            </div>

        </main>
    </div>
    
</body>
</html>